 body {
            font-family: 'Playfair Display', serif;
            background-color: #F5F5DC;
            padding-left: 100px;
            padding-right: 100px;
        }

        .header-image {
            width: 100%;
            height: 300px;
            object-fit: cover;
            object-position: 20% 20%;
            display: block;

        }


        .headline {
            color: #F5F5DC;
        }

        .image-container {
            background-color: white;
            padding: 16px;
        }

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;

            background-color: #4D9078;
                color: #F5F5DC;
                padding-top: 15px;
                padding-bottom: 15px;
        }

        .linkZuInhaltsverzeichnis {
             color: #F5F5DC;
             text-decoration: none;
             margin-left: 16px;
             font-weight: 700;
            }



        .footer {
            color: #4D9078;
            text-decoration: none;
            margin-left: 16px;
            font-weight: 700;
        }



        a:hover {
            text-decoration: underline;
        }

        .text-highlight {
            color: #F5F5DC;
            font-size: 48px;
        }

        .caption {
            background-color: #f5f5dc;
            padding: 8px;
            color: #4d9078;
            font-weight: 600;
        }

        .maps-container {
            margin-top: 16px;
            display: flex;
            justify-content: space-between;
        }

        .maps-right {
            margin-left: 16px;
            width: 30%;
        }

        .maps-frame {
            border: 0;
            height: 350px;
            width: 70%;
        }

        .legal-content {
            padding: 8px;

        }




